Resetting CSS styling Starts
/* 1. Use a more-intuitive box-sizing model */

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

a {
    color: var(--cream-color-button);
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Resetting CSS styling Ends*/


/* Styling starts here */
:root {
    --header-info-fonts: 'Cormorant', 'Noto Sans', Times, serif;
    --menu-description-fonts: 'Mulish', 'Noto Sans', Times, serif;
    --menu-alternative-fonts: 'Proza Libre', 'Noto Sans', Times, serif;
    --green-font-color: #395542;
    --cream-color-button: #edddcd;
    --white-font-page-color: #ffffff;
}

header.home nav button:nth-child(1) {
    border-bottom: solid 5px;
} 

body #content.home button{
    background-color: var(--cream-color-button);
    border: none;
    width: 250px;
    height: 60px;
    font-size: 1.2rem;
    margin: 1rem 0 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--green-font-color);
    font-weight: 700;
    border-radius: 10px;
    transition: box-shadow 0.1s, color 0.3s, background-color 0.2s;
    box-shadow: 0 0.1rem 12px 1px var(--cream-color-button);
}

body #content.home button:hover {
    background-color: var(--green-font-color);
    color: var(--cream-color-button);
    filter: brightness(110%);
    box-shadow: 0 0.1rem 0.3rem 0.2rem #aaaaaa;
    cursor: pointer;
}

/* Template.html #Content Styling Starts*/
body #content.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 2rem;
    font-family: var(--menu-description-fonts);
    color: var(--white-font-page-color);
    background-color: var(--green-font-color);
}

body #content.home h2{
    margin-top: 3rem;
    font-family: var(--menu-alternative-fonts);
    font-size: 2.1rem;
}

/* Image content start */
body #content.home .bakery-image-container,
body #content.home .coffee-image-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 1rem;
    padding: 0 1rem 0 1rem;
    
}

/* Image bakery container content start */
body #content.home .bakery-image-container .content-cards{
    display: flex;
    overflow: hidden;
    width: 300px;
    height: 500px;
    box-shadow: 0px 0.1rem 2rem 0.1rem #5b8056;
}

body #content.home .bakery-image-container .content-cards:hover {
    width: 300px;
    height: 500px;
    box-shadow: 0px 0.1rem 2rem 0.1rem #5b8056;
}

body #content.home .content-cards .info-cards {
    display: flex;
    position: relative;
    font-size: 1.1rem;
    padding: 5px;
    top: 500px;
}

body #content.home .content-cards:hover .info-cards {
    display: flex;
    top: 150px;
    transition: top 0.3s ease-in-out;
}

body #content.home .bakery-image-container .content-cards.first {
    background: url("/assets/pictures/bakery-helenaYankovska.jpg");
    background-size: cover;
}

body #content.home .bakery-image-container .content-cards.first:hover {
    background: url("/assets/pictures/bakery-helenaYankovska.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

body #content.home .bakery-image-container .content-cards.second {
    background: url("/assets/pictures/bakery-jeremyYap.jpg");
    background-size: cover; 
}

body #content.home .bakery-image-container .content-cards.second:hover {
    background: url("/assets/pictures/bakery-jeremyYap.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

body #content.home .bakery-image-container .content-cards.third {
    background: url("/assets/pictures/bakery-helenOreshchenko.jpg");
    background-size: cover;
}

body #content.home .bakery-image-container .content-cards.third:hover {
    background: url("/assets/pictures/bakery-helenOreshchenko.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}
/* Image bakery container content ends */


/* Image coffee container content start */
body #content.home .coffee-image-container .content-cards {
    width: 500px;
    height: 400px;
    box-shadow: 0px 0.1rem 2rem 0.1rem #5b8056;
    margin-bottom: 1rem;
    overflow: hidden;
}

body #content.home .coffee-image-container .content-cards.first {
    background: url("/assets/pictures/coffee-andrewNeel.jpg");
    background-size: cover;
}

body #content.home .coffee-image-container .content-cards.first:hover {
    background: url("/assets/pictures/coffee-andrewNeel.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}

body #content.home .coffee-image-container .content-cards.second {
    background: url("/assets/pictures/coffee-yanapiSenaud.jpg");
    background-size: cover;
}

body #content.home .coffee-image-container .content-cards.second:hover {
    background: url("/assets/pictures/coffee-yanapiSenaud.jpg");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.8);
    background-blend-mode: darken;
}
/* Image coffee container content start */

/* Image content Ends */

/* Form content start */
body #content.home .join-newsletter-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: var(--menu-alternative-fonts);
}

body #content.home .join-newsletter-container form {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    margin-bottom: 3rem;
}

body #content.home .join-newsletter-container input {
    width: 20rem;
}

body #content.home .join-newsletter-container .terms-of-use-container input{
    width: 1rem;
}
/* Form content ends */
/* Template.html #Content Styling Ends*/

